.header{
    display: flex;
    justify-content: space-between;
    color: #191970;
    margin-top: 20px;
}

.header-lpgo{
    font-size: 40px;
    margin-left: 20px;
}

.top-header__nav{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.top-header__nav-list{
    margin-left: 20px;
    margin-right: 10px;
}

.top-header__nav-list:last-child{
    margin-right: 20px;
    display: block;
}

.contents-img img{
    width: 50%;
    display: block;
    position: relative;
    float: right;
    top: 3vw;
    z-index: 10;
}

.box-p{
    font-size: 3vw;
    position: absolute;
    top: 30vw;

}

.box-blue{
    position: absolute;
    width: 75vw;
    height: 12vw;
    top: 33vw;
    text-align: left;
    background-color: #191970;
    z-index: 0;
}
