header{
    display: flex;
    justify-content: space-between;
    color: #00008b;
}

.top-header__nav{
    list-style: none;
    display: flex;
    font-weight: bold;
}

.top-header__nav-list {
    margin-left: 40px;
}

.contents-img{
    position: relative;
    top: 0;
    left: 40%;
    width: 90%;
}

img{
    position: absolute;
    z-index: 10;
    max-width: 100%;
}

.contents-box{
    position: absolute;
    top: 550px;
    right: 80%;
    z-index: 0;
    background-color: blue;
    width: 70%;
    height: 300px;
}

p{
    font-size: 400%;
    position: absolute;
    top: 33%;
}
