header{
    display: flex;
    justify-content: space-between;
    color: #00008b;
    margin-top: 20px;
}

h1{
    font-size: 40px;
}

.top-header__nav{
    list-style: none;
    display: flex;
    font-weight: bold;
}

.top-header__nav-list {
    margin-left: 40px;
}

.contents-img{
    position: relative;
}

.contents-img img{
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 50vw;
    height: 700px;
    width: 50%;
}

.contents-box{
    position: absolute;
    top: 670px;
    left: 0px;
    z-index: 0;
    background-color: blue;
    width: 80vw;
    height: 400px;
}

p{
    font-size: 80px;
    position: absolute;
    top: 40%;
}
